[package]
name = "k8-config"
version = "0.1.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
edition = "2018"
description = "Read Kubernetes config"
repository = "https://github.com/infinyon/k8-api"
license = "Apache-2.0"


[dependencies]
log = "0.4.8"
dirs = "2.0.2"
serde = { version ="1.0.103", features = ['derive'] }
serde_yaml = "0.8.9"

