[package]
edition = "2018"
name = "k8-client"
version = "3.0.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Core Kubernetes metadata traits"
repository = "https://github.com/infinyon/k8-api"
license = "Apache-2.0"
categories = ["api-bindings","asynchronous","encoding","network-programming"]
readme = "README.md"

[features]
k8 = []
k8_stream = ["k8"]


[dependencies]
tracing = "0.1.19"
tracing-futures = "0.2.4"
bytes = "0.5.6"
base64 = { version = "0.12.0" }
futures-util = { version = "0.3.5"}
rand = { version = "0.7.3" }
isahc = { version = "0.9.9", features = ["json","static-curl"]}
curl = { version = "0.4.33", features = ["mesalink"] }
openssl-sys = { version = "0.9.0", features = ["vendored"] }
webpki = { version = "0.21.0" }
rustls = { version = "0.18.0" }
pin-utils = "0.1.0"
serde = { version ="1.0.103", features = ['derive'] }
serde_json = "1.0.40"
serde_qs = "0.5.0"
async-trait = "0.1.21"
fluvio-future = { version = "0.1.0"}
k8-obj-core = { version = "1.1.0", path = "../k8-obj-core"}
k8-obj-metadata = { version = "1.0.0", path = "../k8-obj-metadata" }
k8-metadata-client = { version = "1.0.0", path = "../k8-metadata-client"}
k8-diff = { version = "0.1.0", path = "../k8-diff"}
k8-config = { version = "2.0.0", path = "../k8-config"}
thiserror = "1.0.20"

[dev-dependencies]
rand = "0.7.2"
async-trait = "0.1.21"
fluvio-future = { version = "0.1.0", features=["fixture"]}
flv-util = { version = "0.5.0", features=["fixture"]}
k8-obj-app = { version = "1.0.0", path = "../k8-obj-app"}
k8-obj-core = { version = "1.1.0", path = "../k8-obj-core"}