[package]
edition = "2018"
name = "k8-client"
version = "4.0.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Core Kubernetes metadata traits"
repository = "https://github.com/infinyon/k8-api"
license = "Apache-2.0"
categories = ["api-bindings","asynchronous","encoding","network-programming"]
readme = "README.md"

[[bin]]
name = "hello"
path = "src/bin/hello.rs"

[features]
default = ["native_tls"]
k8 = []
native_tls = ["fluvio-future/native2_tls","openssl/vendored"]
rust_tls = ["rustls","fluvio-future/tls"]

[dependencies]
cfg-if = "1.0"
tracing = "0.1.19"
tracing-futures = "0.2.4"
bytes = "0.5.6"
base64 = { version = "0.12.0" }
futures-util = { version = "0.3.5", features = ["io"]}
rand = { version = "0.7.3" }
openssl = { version = "0.10.30", optional = true }
rustls = { version = "0.18.0", optional = true }
hyper = { version = "0.13.8", default-features=false, features=["stream"] }
http = { version = "0.2" }
tokio = { version = "0.2.11" }
pin-utils = "0.1.0"
serde = { version ="1.0.108", features = ['derive'] }
serde_json = "1.0.40"
serde_qs = "0.5.0"
async-trait = "0.1.21"
fluvio-future = { version = "0.1.7", features = ["net"]}
k8-obj-core = { version = "1.1.0", path = "../k8-obj-core"}
k8-obj-metadata = { version = "1.1.0", path = "../k8-obj-metadata" }
k8-metadata-client = { version = "2.0.0", path = "../k8-metadata-client"}
k8-diff = { version = "0.1.0", path = "../k8-diff"}
k8-config = { version = "1.0.0", path = "../k8-config"}


[dev-dependencies]
rand = "0.7.2"
once_cell = "1.4.1"
async-trait = "0.1.21"
fluvio-future = { version = "0.1.11", features=["fixture"]}
flv-util = { version = "0.5.0", features=["fixture"]}
k8-obj-app = { version = "1.0.0", path = "../k8-obj-app"}
k8-obj-core = { version = "1.1.0", path = "../k8-obj-core"}