[package]
edition = "2018"
name = "k8-client"
version = "1.0.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Core Kubernetes metadata traits"
repository = "https://github.com/infinyon/k8-api"
license = "Apache-2.0"
categories = ["api-bindings","asynchronous","encoding","network-programming"]
readme = "README.md"

[features]
default = ["native"]
k8 = []
k8_stream = ["k8"]
native = ["isahc","base64","rand","curl","openssl-sys","async-std","flv-future-aio/asyncstd"]
hyper2 = ["hyper","tokio","hyper-rustls","http","rustls","webpki","flv-future-aio/tokio2"]


[dependencies]
log = "0.4.8"
bytes = "0.5.4"
base64 = { version = "0.11.0", optional = true }
http = { version = "0.2", optional = true }
futures = { version = "0.3.4"}
rand = { version = "0.7.3", optional = true }
isahc = { version = "0.8.2", features = ["json","static-curl"], optional = true}
curl = { version = "0.4.25", features = ["mesalink"], optional = true }
openssl-sys = { version = "0.9.43", features = ["vendored"], optional = true }
hyper = { version = "0.13.2", default-features = false, features = ["stream"], optional = true }
tokio = { version = "0.2.11", default-features = false, optional = true }
webpki = { version = "0.21.0", optional = true }
hyper-rustls = { version = "0.20.0", optional = true }
rustls = { version = "0.17.0", optional = true }
pin-utils = "0.1.0-alpha.4"
serde = { version ="1.0.103", features = ['derive'] }
serde_json = "1.0.40"
serde_qs = "0.5.0"
async-trait = "0.1.21"
async-std = { version = "1.5.0", features = ["default","unstable"], optional = true }
flv-future-aio = { version = "1.0.0", optional = true  }
k8-obj-core = { version = "1.0.0", path = "../k8-obj-core"}
k8-obj-metadata = { version = "1.0.0", path = "../k8-obj-metadata" }
k8-metadata-client = { version = "1.0.0", path = "../k8-metadata-client"}
k8-diff = { version = "0.1.0", path = "../k8-diff"}
k8-config = { version = "1.0.0", path = "../k8-config"}


[dev-dependencies]
rand = "0.7.2"
async-trait = "0.1.21"
flv-future-aio = { version = "1.0.0", features=["fixture"]}
flv-util = { version = "0.1.0", features=["fixture"]}
k8-obj-app = { version = "1.0.0", path = "../k8-obj-app"}
k8-obj-core = { version = "1.0.0", path = "../k8-obj-core"}