name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  unit_test:
    name: Unit test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest,macOS-latest]
        rust: [nightly, beta, stable]

    steps:
    - uses: actions/checkout@v2
    - name: Install ${{ matrix.rust }}
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        override: true
    - name: Run unit tests
      run:  cargo test

  k8_test:
      name: Kubernetes integration test
      runs-on: ${{ matrix.os }}
      strategy:
        matrix:
          os: [ubuntu-latest]
          rust: [stable,nightly,beta]

      steps:
      - uses: actions/checkout@v2
      - name: Install ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
      - uses: manusa/actions-setup-minikube@v1.0.2
        with:
            minikube version: 'v1.11.0'
            kubernetes version: 'v1.18.3'
            github token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test Minikube
        run: |
          minikube start
          kubectl get nodes
          kubectl config view
      - name: Build
        run: |
          make build-config-context
      - name: setup context
        run: |
          cargo run k8-ctx-util
          kubectl config view
      - name: K8 integration test
        run: make integration-test

