name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  unit_test:
    name: Unit test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest,macOS-latest]
        rust: [beta, stable]

    steps:
    - uses: actions/checkout@v2
    - name: Install ${{ matrix.rust }}
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        override: true
    - name: Run unit tests
      run:  cargo test

  k8_test:
      name: Kubernetes integration test
      runs-on: ${{ matrix.os }}
      strategy:
        matrix:
          os: [ubuntu-latest,macOS-latest]
          rust: [stable,beta]

      steps:
      - uses: actions/checkout@v2
      - name: Install ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
      - name: Install Minikube on Linux
        if: startsWith(matrix.os,'ubuntu')
        uses: manusa/actions-setup-minikube@v2.0.0
        with:
          minikube version: "v1.13.1"
          kubernetes version: "v1.19.2"
          github token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Minikube on Mac
        if: startsWith(matrix.os, 'macOS')
        run:  brew install minikube
      - name: Setup Minikube for Mac
        if: startsWith(matrix.os, 'macOS')
        run:  minikube start
      - name: Test Minikube
        run: |
          kubectl get nodes
          kubectl config view
      - name: Set minikube context
        run: |
          make set-minikube-context
      - name: K8 integration test
        run: make integration-test

